@model Product
<div class="container mt-5">
    <h4>Product name: @Model.Name</h4>
    <h4>Product description: @Model.Desc</h4>
    <h4>
        Product price: @if (Model.Discount.Name == "None")
        {
            @Model.Price
        }
        else
        {
            <span style="color:red;">
                @(Convert.ToDecimal(Model.Price) * (1 - (Model.Discount.DiscountPercent / 100m)))
            </span>
            <span style="text-decoration:line-through">@Model.Price</span>
        }
    </h4>
    <h4>Category name: @Model.Category.Name</h4>
    <h4>Discount name: @Model.Discount.Name</h4>
    <h4>Ban type name: @Model.BanType.Name</h4>
    
    

    @foreach (var item in Model.Images)
    {
        <img src="~/assets/img/@item.Image" alt="Alternate Text" style=" width:120px; height:80px;@(item.IsMain ? "border:5px solid yellow" : "")" />
    }
    <br />
    <a asp-action="Index" class="btn btn-primary mt-5">Back</a>
</div>
