@model List<BasketViewVM>

<link href="~/assets/css/custom.css" rel="stylesheet" />
<link href="~/assets/css/bootstrap.css" rel="stylesheet" />

<section class="gradient-custom">
    <div class="container" style="padding:50px 0">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart - @Model.Sum(x => x.ProductCount) items</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            <!-- Single item -->
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                        <img src="~/assets/img/@item.Image" class="w-100" alt="@item.Name" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>@item.Name</strong></p>
                                    <form asp-action="DeleteWorkFromBasket" asp-route-id="@item.Id" method="post">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-sm me-1 mb-2" data-mdb-tooltip-init
                                                title="Remove item">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                    <!-- Data -->
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                                    <div class="d-flex mb-4" style="max-width: 300px">
                                        <form asp-action="DecreaseWorkInBasket" asp-route-id="@item.Id" method="post">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary px-3 me-2">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </form>

                                        <div data-mdb-input-init class="form-outline">
                                            <span>@item.ProductCount</span>
                                            <label class="form-label" for="form1">Quantity</label>
                                        </div>

                                        <form asp-action="IncreaseWorkInBasket" asp-route-id="@item.Id" method="post">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary px-3 ms-2">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <!-- Quantity -->
                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                        <strong>$@item.Total</strong>
                                    </p>
                                    <!-- Price -->
                                </div>
                            </div>
                            <!-- Single item -->

                            <hr class="my-4" />
                        }
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                </div>
                                <span><strong>$@Model.Sum(m => m.Total)</strong></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
