@model HomeVM

<main>
    @foreach (var item in Model.Sliders)
    {
        <h1 class="position-absolute slider-text-3">@item.Title</h1>

    }
    <button class="position-absolute slider-button">View Detail</button>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model.SliderImages)
            {
                <div class="carousel-item active">
                    <img src="./assets/img/@item.Image" class="d-block w-100 img-fluid" alt="Slide 1">
                </div>
            }
        </div> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section id="home-banner">

        <div class="container h-100 mt-5">
            <div class="row h-100">
                <div class="col-6  d-flex">
                    @foreach (var item in Model.Banners.Take(2))
                    {
                        <div class="col-6">
                            <img src="./assets/img/@item.Image" alt="" height="100%" width="100%"
                                 class="banner-image img-fluid">
                        </div>
                    }
                </div>
                <div class="col-6">
                    <img src="./assets/img/@Model.Banners.Skip(2).First().Image" alt="" height="100%" width="100%"
                         class="banner-image img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section id="our-offer-last-deal" class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <span class="banner-header-text">OUR OFFER</span>
                            <div>
                                <button class="carousel-button"><i class="fa-solid fa-chevron-left"></i></button>
                                <button class="carousel-button"><i class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <div class="owl-carousel-1 owl-carousel owl-theme">
                                @if (Model.Products.Count() != 0)
                                {
                                    @foreach (var item in Model.Products.Take(3))
                                    {
                                        <div class="">
                                            <div class="big-card">
                                                <h6 class="card-top-title">@item.Name</h6>
                                                <div class="card-img">
                                                    <span class="card-tag">
                                                        <span class="card-tag-text">new</span>
                                                    </span>
                                                    <img src="./assets/img/@item.Images.FirstOrDefault(x=>x.IsMain).Image" alt="" class="img-fluid">
                                                </div>
                                                <div class="price-box">
                                                    @if (item.Discount.Name == "None")
                                                    {
                                                        <span class="card-price d-inline">$@item.Price</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="card-price d-inline" style="color:red;">
                                                            $@(Convert.ToDecimal(item.Price) * (1 - (item.Discount.DiscountPercent / 100m)))
                                                        </span>
                                                        <span class="card-price d-inline" style="text-decoration:line-through">$@item.Price</span>
                                                    }
                                                </div>
                                                <div class="card-bottom p-2">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <button data-id="@item.Id" class="card-button"> add to cart</button>
                                                        </div>
                                                        <div class="col-8 align-items-center">
                                                            <span class="card-description">
                                                                @item.SortDesc
                                                            </span>
                                                            <div class="card-description-icons gap-5 disable">
                                                                <a href=""><i class="fa-solid fa-heart"></i></a>
                                                                <a href=""><i class="fa-solid fa-info"></i></a>
                                                                <a href=""><i class="fa-solid fa-eye"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                                @if (Model.Products.Count() != 0)
                                {
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <span class="banner-header-text">last deal</span>
                            <div>
                                <button class="carousel-button"><i class="fa-solid fa-chevron-left"></i></button>
                                <button class="carousel-button"><i class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <div class="owl-carousel owl-carousel-2">
                                    @for (int i = 0; i < Model.Products.Count(); i++)
                                    {
                                        <div class="">
                                            <div class="big-card">
                                                <h6 class="card-top-title">@Model.Products[i].Name</h6>
                                                <div class="card-img">
                                                    <div class="right-images vis-hidden">

                                                        @if (Model.Products[i].Images.Where(x => x.IsMain == false).Count() != 0)
                                                        {
                                                            <h6 class="text-center">
                                                                <a href="">
                                                                    <i class="fa-solid fa-chevron-up"></i>
                                                                </a>
                                                            </h6>
                                                            @foreach (var item in Model.Products[i].Images.Where(x => x.IsMain == false))
                                                            {
                                                                <div class="col-12">
                                                                    <img src="./assets/img/@item.Image" alt="" class="img-fluid">
                                                                </div>
                                                            }
                                                            <h6 class="text-center">
                                                                <a href="">
                                                                    <i class="fa-solid fa-chevron-down"></i>
                                                                </a>
                                                            </h6>
                                                        }

                                                    </div>
                                                    <img src="./assets/img/@Model.Products[i].Images.FirstOrDefault(x => x.IsMain).Image" alt=""
                                                         class="img-fluid main-image">
                                                </div>
                                                <div class="price w-100">
                                                    @if (Model.Products[i].Discount.Name != "null")
                                                    {
                                                        <div class="sale-box">
                                                            <span class="text-center">sale</span>
                                                        </div>
                                                    }
                                                    <div class="price-box">
                                                        @if (Model.Products[i].Discount.Name == "None")
                                                        {
                                                            <span class="card-price d-inline">$@Model.Products[i].Price</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="card-price d-inline" style="color:red;">
                                                                $@(Convert.ToDecimal(Model.Products[i].Price) * (1 - (Model.Products[i].Discount.DiscountPercent / 100m)))
                                                            </span>
                                                            <span class="card-price d-inline" style="text-decoration:line-through">$@Model.Products[i].Price</span>
                                                        }

                                                    </div>

                                                </div>
                                                <div class="card-bottom p-2">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <button data-id="@Model.Products[i].Id" class="card-button"> add to cart</button>
                                                        </div>
                                                        <div class="col-8 align-items-center">
                                                            <span class="card-description">
                                                                @Model.Products[i].SortDesc
                                                            </span>
                                                            <div class="card-description-icons gap-5 disable">
                                                                <a href=""><i class="fa-solid fa-heart"></i></a>
                                                                <a href=""><i class="fa-solid fa-info"></i></a>
                                                                <a href=""><i class="fa-solid fa-eye"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                                }
                </div>

            </div>
        </div>


    </section>
    <section id="new-products">
        <div class="container">
                @if (Model.Products.Count() != 0)
                {
            <div class="row">
                <div class="col-12 justify-content-between d-flex">
                    <span class="banner-header-text">new products</span>
                    <div>
                        <button class="carousel-button"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="carousel-button"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                    @for (int i = 0; i < Model.Products.Count(); i++)
                    {
                        <div class="col-xs-6 col-sm-6 col-lg-3 @(i >= 4 ? "mt-4" : "")">
                            <div class="big-card">
                                <h6 class="card-top-title">@Model.Products[i].Name</h6>
                                <div class="card-img">
                                    <div class="right-images vis-hidden">

                                        @if (Model.Products[i].Images.Where(x => x.IsMain == false).Count() != 0)
                                        {
                                            <h6 class="text-center">
                                                <a href="">
                                                    <i class="fa-solid fa-chevron-up"></i>
                                                </a>
                                            </h6>
                                            @foreach (var item in Model.Products[i].Images.Where(x => x.IsMain == false))
                                            {
                                                <div class="col-12">
                                                    <img src="./assets/img/@item.Image" alt="" class="img-fluid">
                                                </div>
                                            }
                                            <h6 class="text-center">
                                                <a href="">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </a>
                                            </h6>
                                        }

                                    </div>
                                    <img src="./assets/img/@Model.Products[i].Images.FirstOrDefault(x=>x.IsMain).Image" alt="" class="img-fluid main-image">
                                </div>

                                <div class="price-box">
                                    @if (Model.Products[i].Discount.Name == "None")
                                    {
                                        <span class="card-price d-inline">$@Model.Products[i].Price</span>
                                    }
                                    else
                                    {
                                        <span class="card-price d-inline" style="color:red;">
                                            $@(Convert.ToDecimal(Model.Products[i].Price) * (1 - (Model.Products[i].Discount.DiscountPercent / 100m)))
                                        </span>
                                        <span class="card-price d-inline" style="text-decoration:line-through">$@Model.Products[i].Price</span>
                                    }

                                </div>

                                <div class="card-bottom p-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <button data-id="@Model.Products[i].Id" class="card-button"> add to cart</button>
                                        </div>
                                        <div class="col-8 align-items-center">
                                            <span class="card-description">
                                                @Model.Products[i].SortDesc
                                            </span>
                                            <div class="card-description-icons gap-5 disable">
                                                <a href=""><i class="fa-solid fa-heart"></i></a>
                                                <a href=""><i class="fa-solid fa-info"></i></a>
                                                <a href=""><i class="fa-solid fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

            </div>
                }
        </div>

        </div>
    </section>
    <section id="support" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <h6 class="text-center mt-5 support-header">buying & selling just got easier!</h6>
                    <h6 class="text-center mt-3 support-description">
                        Aenean sollicitudin, lorem quis bibendum
                        auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                        vulputate
                        cursus a sit amet mauris.
                    </h6>
                    <div class="row mt-5">
                        <div class="col-6 col-md-12 col-lg-6">
                            <div class="d-flex">
                                <button class="support-button">
                                    <h6 class="support-btn-1-header">Call the customer support</h6>
                                    <h6 class="support-btn-1-description mt-3">
                                        <i class="fa-solid fa-mobile-screen-button"></i>0123 456 789
                                    </h6>
                                </button>
                                <h6 class="mt-4 mx-4" style="font-family: 'Raleway'; font-weight: 400;">OR</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6">
                            <button class="support-button">
                                <h6 class="support-btn-2-header">Send us a message</h6>
                                <h6 class="support-btn-2-description mt-3">
                                    <i class="fa-solid fa-envelope"></i>contact@apollotheme.com
                                </h6>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <img src="./assets/img/img-support_2x.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="partners" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <span class="banner-header-text">Lastest News</span>
                    <div class="lastest-news">
                        <div class="owl-carousel-3 owl-carousel">
                            @foreach (var item in Model.News)
                            {
                                <div class="">
                                    <div class="row">

                                        <div class="col-12 col-lg-6">
                                            <img src="./assets/img/@item.Image" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <h6 style="font-weight: 900; font-family: 'Raleway';text-transform: uppercase; font-size: 14px;">
                                                @item.Title
                                            </h6>
                                            <h6 class="mt-1 latest-news-text">
                                                @item.Desc
                                            </h6>
                                            <div class="d-flex justify-content-between align-items-center">

                                                <span class="latest-read-more me-4">
                                                    read more<i class="fa-solid fa-right-long"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <span class="banner-header-text">Testimonials</span>
                    <div class="owl-carousel-4 owl-carousel">
                        <div class="">
                            <div class="testimonials">
                                <h5 class="text-center testimonials-header">
                                    This is gddg Photoshop's version of
                                    Lorem
                                    Ipsum.
                                    Proin
                                    gravida nibh vel velit auctor aliquet
                                    auctor, nisi elit consequat.nisi elit consequat.
                                </h5>
                                <div class="person justify-content-center d-flex mt-3">
                                    <div class="image-box">
                                        <img src="./assets/img/testimonials_image_1_2x.jpg" alt=""
                                             class="img-fluid pp">
                                    </div>
                                    <div class="person-info mx-2 mt-2">
                                        <span class="person-name">sylia williams</span><br>
                                        <span class="person-info">microsoft ceo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="testimonials">
                                <h5 class="text-center testimonials-header">
                                    This is gddg Photoshop's version of
                                    Lorem
                                    Ipsum.
                                    Proin
                                    gravida nibh vel velit auctor aliquet
                                    auctor, nisi elit consequat.nisi elit consequat.
                                </h5>
                                <div class="person justify-content-center d-flex mt-3">
                                    <div class="image-box">
                                        <img src="./assets/img/testimonials_image_2_2x.jpg" alt=""
                                             class="img-fluid pp">
                                    </div>
                                    <div class="person-info mx-2 mt-2">
                                        <span class="person-name">jane peterson</span><br>
                                        <span class="person-info">creative manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="testimonials">
                                <h5 class="text-center testimonials-header">
                                    This is gddg Photoshop's version of
                                    Lorem
                                    Ipsum.
                                    Proin
                                    gravida nibh vel velit auctor aliquet
                                    auctor, nisi elit consequat.nisi elit consequat.
                                </h5>
                                <div class="person justify-content-center d-flex mt-3">
                                    <div class="image-box">
                                        <img src="./assets/img/testimonials_image_3_2x.jpg" alt=""
                                             class="img-fluid pp">
                                    </div>
                                    <div class="person-info mx-2 mt-2">
                                        <span class="person-name">joseph monroe</span><br>
                                        <span class="person-info">microsoft ceo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="brands">
        <div class="container mt-5">
            <span class="banner-header-text">top brands</span>
            <div class="brands bg-white">
                <div class="row p-4">
                    @foreach (var item in Model.Brands)
                    {
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="col-6">
                                <img src="./assets/img/@item.Image" alt="">
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </section>
    <section id="accessories">
        <div class="container p-1">
            <span class="banner-header-text">car accessories</span>
            <div class="row mt-2">
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-between acc-1">
                    <div></div>
                    <div class="mt-2">
                        <h6 class="accessories-text text-end">wheel</h6>
                        <ul>
                            <li>Exhaust Tips <i class="fa-solid fa-square"></i></li>
                            <li>Bumpers & Components <i class="fa-solid fa-square"></i></li>
                            <li>Mirrors & Components <i class="fa-solid fa-square"></i></li>
                            <li>Grilles & Components <i class="fa-solid fa-square"></i></li>
                            <li>Brake Discs <i class="fa-solid fa-square"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-between acc-2">
                    <div></div>
                    <div class="mt-2">
                        <h6 class="accessories-text text-end">Brake Discs</h6>
                        <ul>
                            <li>Calipers<i class="fa-solid fa-square"></i></li>
                            <li>Shocks, Struts <i class="fa-solid fa-square"></i></li>
                            <li>Car Covers <i class="fa-solid fa-square"></i></li>
                            <li> Seats, Seat Covers <i class="fa-solid fa-square"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-between acc-3">
                    <div></div>
                    <div class="mt-2">
                        <h6 class="accessories-text text-end">Seat Cover</h6>
                        <ul>
                            <li>Axles, Driveshaft & 4WD <i class="fa-solid fa-square"></i></li>
                            <li>Floormats <i class="fa-solid fa-square"></i></li>
                            <li>Hand Brakes <i class="fa-solid fa-square"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-between acc-4 mt-2">
                    <div></div>
                    <div class="mt-2">
                        <h6 class="accessories-text text-end">Floormats</h6>
                        <ul>
                            <li>Shocks, Struts <i class="fa-solid fa-square"></i></li>
                            <li>Car Covers <i class="fa-solid fa-square"></i></li>
                            <li>Seats, Seat Covers <i class="fa-solid fa-square"></i></li>
                            <li>Carpet Kits <i class="fa-solid fa-square"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-between acc-5 mt-2">
                    <div></div>
                    <div class="mt-2">
                        <h6 class="accessories-text text-end">Hand Brakes</h6>
                        <ul>
                            <li>Components <i class="fa-solid fa-square"></i></li>
                            <li>Axles, Driveshaft & 4WD <i class="fa-solid fa-square"></i></li>
                            <li>Floormats <i class="fa-solid fa-square"></i></li>
                            <li>Hand Brakes <i class="fa-solid fa-square"></i></li>
                            <li>Pedals <i class="fa-solid fa-square"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-between acc-6 mt-2">
                    <div></div>
                    <div class="mt-2">
                        <h6 class="accessories-text text-end">Components</h6>
                        <ul>
                            <li>Axles, Driveshaft & 4WD <i class="fa-solid fa-square"></i></li>
                            <li>Floormats <i class="fa-solid fa-square"></i></li>
                            <li>Hand Brakes <i class="fa-solid fa-square"></i></li>
                            <li>Pedals <i class="fa-solid fa-square"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>